---
layout: default_ptbr
---

{% unless site.data.data.sidebar.education %}
  {% include ptbr/education_ptbr.html %}
{% endunless %}

{% unless site.data.data.sidebar.complementary_education %}
  {% include ptbr/complementary_education_ptbr.html %}
{% endunless %}

{% include ptbr/experiences_ptbr.html %}

{% include ptbr/certifications_ptbr.html %}

{% include ptbr/research_ptbr.html %}

{% include ptbr/upcoming-events_ptbr.html %}

{% include ptbr/top_publications_ptbr.html %}

{% include ptbr/teaching_ptbr.html %}

{% include ptbr/outreach_ptbr.html %}

{% include ptbr/projects_ptbr.html %}

{% include ptbr/oss-contributions_ptbr.html %}

{% include ptbr/experiences_plus_ptbr.html %}

