{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">
  <!-- (Showing {{ publications.papers | size }} results) -->

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <!-- initiate counter -->
  {% assign i = 1 %}

  <h2 class="publication-title">
    <span class="fa-stack fa-sm">
      <i class="fas fa-square fa-stack-2x"></i>
      <i class="fas fa-thumbs-up fa-stack-1x fa-inverse"></i>
    </span>
    Refereed Papers
  </h2>

  <h3 class="section-subtitle">First Author</h3>

  <table>
    <tr>
      <th>#</th>
      <th>Year</th>
      <th style="text-align: left;">Title</th>
      <th style="text-align: left;">Authors</th>
      <th><span class="publication-col2">Journal</span></th>
      <th><span class="publication-col2">vol.</span></th>
      <th><span class="publication-col2">page</span></th>
    </tr>

    {% for publication in publications.papers %}
      {% if publication.refereed == true and publication.first-author == true %}
        <tr>
          <td class="publication-id"> {{i}} </td> {% assign i = i | plus:1 %}
          <td> {{publication.year}} </td>
          <td style="text-align: left;">
            {% if publication.link %}
              <a href="{{ publication.link }}">{{ publication.title }}</a>
            {% else %}
              {{ publication.title }}
            {% endif %}
          </td>
          <td style="text-align: left;">
            <span class="publication-authors">  {{ publication.authors }} </span>
              {% if publication.more %}
              <span class="publication-more"> {{ publication.more }} authors</span>
              {% endif %}
          </td>
          <td> <span class="publication-journal"> {{publication.journal}} </span> </td>
          <td> <span class="publication-volume">  {{publication.volume}}  </span> </td>
          <td> <span class="publication-page">    {{publication.page}}    </span> </td>
        </tr>
      {% endif %}
    {% endfor %}

  </table>


  <h3 class="section-subtitle">Co-author</h3>

  <table>
    <tr>
      <th>#</th>
      <th>Year</th>
      <th style="text-align: left;">Title</th>
      <th style="text-align: left;">Authors</th>
      <th><span class="publication-col2">Journal</span></th>
      <th><span class="publication-col2">vol.</span></th>
      <th><span class="publication-col2">page</span></th>
    </tr>


    {% for publication in publications.papers %}
      {% if publication.refereed == true and publication.first-author == false %}
        <tr>
          <td class="publication-id"> {{i}} </td> {% assign i = i | plus:1 %}
          <td> {{publication.year}} </td>
          <td style="text-align: left;">
            {% if publication.link %}
              <a href="{{ publication.link }}">{{ publication.title }}</a>
            {% else %}
              {{ publication.title }}
            {% endif %}
          </td>
          <td style="text-align: left;">
            <span class="publication-authors">  {{ publication.authors }} </span>
              {% if publication.more %}
              <span class="publication-more"> {{ publication.more }} authors</span>
              {% endif %}
          </td>
          <td> <span class="publication-journal"> {{publication.journal}} </span> </td>
          <td> <span class="publication-volume">  {{publication.volume}}  </span> </td>
          <td> <span class="publication-page">    {{publication.page}}    </span> </td>
        </tr>
      {% endif %}
    {% endfor %}

  </table>
  

  <br>
  <h2 class="publication-title publication-title-paddingtop">
    <span class="fa-stack fa-sm">
      <i class="fas fa-square fa-stack-2x"></i>
      <i class="fas fa-hourglass-start fa-stack-1x fa-inverse"></i>
    </span>
    Conference Proceedings (full publications)
  </h2>

  <table>
    <tr>
      <th>#</th>
      <th>Year</th>
      <th style="text-align: left;">Title</th>
      <th style="text-align: left;">Authors</th>
      <th><span class="publication-col2">Journal</span></th>
      <th><span class="publication-col2">vol.</span></th>
      <th><span class="publication-col2">page</span></th>
    </tr>

    {% for publication in publications.papers %}
      {% if publication.refereed == false %}
        <tr>
          <td class="publication-id"> {{i}} </td> {% assign i = i | plus:1 %}
          <td> {{publication.year}} </td>
          <td style="text-align: left;">
            {% if publication.link %}
              <a href="{{ publication.link }}">{{ publication.title }}</a>
            {% else %}
              {{ publication.title }}
            {% endif %}
          </td>
          <td style="text-align: left;">
            <span class="publication-authors">  {{ publication.authors }} </span>
              {% if publication.more %}
              <span class="publication-more"> {{ publication.more }} authors</span>
              {% endif %}
          </td>
          <td> <span class="publication-journal"> {{publication.journal}} </span> </td>
          <td> <span class="publication-volume">  {{publication.volume}}  </span> </td>
          <td> <span class="publication-page">    {{publication.page}}    </span> </td>
        </tr>
      {% endif %}
    {% endfor %}

  </table>
  

</section><!--//section-->
{% endif %}
