---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="pt" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="pt" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="pt"> <!--<![endif]-->
{% include ptbr/head_ptbr.html %}

<body>
  <div class="navbar-wrapper">
    {% include ptbr/navbar_ptbr.html %}
  </div>

  <div class="wrapper">

    {% include ptbr/profile_smallscreen_ptbr.html %}

    <div class="main-wrapper">
      <div class="main-content">
        {{ content }}
      </div>
    </div>

    {% include ptbr/sidebar_ptbr.html %}

  </div>


  {% include ptbr/footer_ptbr.html %}

{% include scripts.html %}
</body>

</html>

